

<div *ngIf="todoItem">
    <div *ngIf="isSaved" class="alert alert-success" role="alert">Item saved successfully.</div>
    <div *ngIf="isError" class="alert alert-danger" role="alert">Error saving item.</div>

    <div class="row">
        <h2>Edit: {{todoItem.description}}</h2>
    </div>

    <div class="row">
        <form class="form">
            <div class="form-group">
                <label for="exampleInputName2">Description</label>
                <input type="text" class="form-control" id="newTodoItemDescription" name="newTodoItemDescription" placeholder="Item description" [(ngModel)]="todoItem.description">
            </div>
            <button type="submit" class="btn btn-primary" (click)="saveTodoItem()">Save</button>
            <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
        </form>
    </div>

</div>